/**
 * @name Catppuccin Macchiato
 * @author winston#0001
 * @authorId 505490445468696576
 * @version 0.2.0
 * @description 🎮 Soothing pastel theme for Discord
 * @website https://github.com/catppuccin/discord
 * @invite r6Mdz5dpFc
 * **/

@import url("https://catppuccin.github.io/discord/dist/catppuccin-macchiato.theme.css");

/* Css Snippet from https://github.com/SEELE1306/CSS-Snippets */

/* Snippets: */

/* BetterQuotes */

/* [[ QUOTES ]] */
[class*="markup_"] blockquote {
  padding: 4px 10px;
  background: color-mix(in srgb, var(--brand-500) 25%, transparent);
  color: var(--brand-300);
  border-radius: 0 4px 4px 0;
}

[class*="blockquoteDivider_"] {
  background: var(--brand-300);
}

/* ChatBubbles */

/* Customizable */
:root {
  --chat-bubble-default: grey;
  --chat-bubble-replying: cyan;
  --chat-bubble-mentioned: orange;
  --chat-bubble-automod: red;
  --enable-chat-bubble-border: 0;
}

/* NOT Customizable */
:root {
  /* Chat bubbles requirements */
  --background-message-hover: none;
  --background-mentioned: none;
  --background-mentioned-hover: none;
  --background-message-highlight: none;
  --background-message-automod: none;
  --background-message-automod-hover: none;
  --info-warning-foreground: none;
}

/* [[ CHAT BUBBLES ]] */
.channelTextArea_a7d72e {
  background: transparent;
}

/* Fix overflow on replied pings */
.repliedTextPreview_f9f2ca {
  max-height: fit-content;
}

.mediaAttachmentsContainer__242e2 {
  margin-bottom: 0 !important;
}

.altText_cf58b5 {
  margin: 8px 0 -4px;
}

/* revert back to class selectors + add borders */
.markup_f8f345.messageContent_f9f2ca a {
  background: var(--background-modifier-accent);
  color: var(--text-link);
  font-weight: 600;
  padding: 0 4px;
  border-radius: 4px;
}

/* Message embeds (Vencord plugin) */
.grid_b0068a {
  padding: 4px 8px 8px 6px;

  & .embedAuthor_b0068a {
    & span {
      font-weight: bold;
    }
  }

  & .message_ddc613 {
    padding: 8px 0;

    & .avatar_f9f2ca {
      margin: 0;
    }
  }
}

.groupStart_d5deea.cozyMessage_d5deea
  > .contents_f9f2ca:hover
  .markup_f8f345.messageContent_f9f2ca
  a,
.cozyMessage_d5deea:not(.groupStart_d5deea)
  > .contents_f9f2ca:hover
  > .markup_f8f345:not(:empty, .searchResultsWrap_c2b47d *)
  a {
  background: var(--background-modifier-hover);
  text-decoration: none;
}

.groupStart_d5deea.cozyMessage_d5deea > .contents_f9f2ca,
.cozyMessage_d5deea:not(.groupStart_d5deea)
  > .contents_f9f2ca
  > .markup_f8f345:not(:empty, .searchResultsWrap_c2b47d *),
.container_b558d0 > :not(.reactions_ec6b19, .searchResultsWrap_c2b47d *) {
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  background: color-mix(in srgb, var(--chat-bubble-default) 25%, transparent);
  max-width: max-content;
  box-sizing: border-box;
  border: calc(1px * var(--enable-chat-bubble-border)) solid
    var(--chat-bubble-default);

  &:hover {
    background: color-mix(in srgb, var(--chat-bubble-default) 50%, transparent);
  }
}

/* Overwrite previous margin settings */
.groupStart_d5deea.cozyMessage_d5deea > .contents_f9f2ca,
.cozyMessage_d5deea:not(.groupStart_d5deea)
  > .contents_f9f2ca
  > .markup_f8f345:not(:empty, .searchResultsWrap_c2b47d *) {
  margin: calc(2px + 1px * var(--enable-chat-bubble-border)) 0;
}

.container_b558d0 > .embedSpotify_b0068a {
  height: fit-content;
  padding: 0;
  box-sizing: content-box;
}

/* Fix overlapping of reactions */
.reactions_ec6b19 {
  margin-top: calc(4px + 2px * var(--enable-chat-bubble-border));
  margin-left: calc(0px - 2px * var(--enable-chat-bubble-border));
}

.altText_cf58b5 {
  margin: 8px 0 -4px;
}

.groupStart_d5deea.cozyMessage_d5deea.replying_d5deea > .contents_f9f2ca,
.cozyMessage_d5deea.replying_d5deea:not(.groupStart_d5deea)
  > .contents_f9f2ca
  > .markup_f8f345:not(:empty, .searchResultsWrap_c2b47d *),
.replying_d5deea
  .container_b558d0
  > :not(.reactions_ec6b19, .searchResultsWrap_c2b47d *) {
  background: color-mix(in srgb, var(--chat-bubble-replying) 25%, transparent);
  border-radius: 8px;
  max-width: max-content;
  border: calc(1px * var(--enable-chat-bubble-border)) solid
    var(--chat-bubble-replying);

  &:hover {
    background: color-mix(
      in srgb,
      var(--chat-bubble-replying) 50%,
      transparent
    );
  }
}

.groupStart_d5deea.cozyMessage_d5deea.mentioned_d5deea > .contents_f9f2ca,
.cozyMessage_d5deea.mentioned_d5deea:not(.groupStart_d5deea)
  > .contents_f9f2ca
  > .markup_f8f345:not(:empty, .searchResultsWrap_c2b47d *),
.mentioned_d5deea
  .container_b558d0
  > :not(.reactions_ec6b19, .searchResultsWrap_c2b47d *) {
  background: color-mix(in srgb, var(--chat-bubble-mentioned) 25%, transparent);
  border-radius: 8px;
  border: calc(1px * var(--enable-chat-bubble-border)) solid
    var(--chat-bubble-mentioned);

  &:hover {
    background: color-mix(
      in srgb,
      var(--chat-bubble-mentioned) 50%,
      transparent
    );
  }
}

.groupStart_d5deea.cozyMessage_d5deea.automodMessage_d5deea > .contents_f9f2ca,
.cozyMessage_d5deea.automodMessage_d5deea:not(.groupStart_d5deea)
  > .contents_f9f2ca
  > .markup_f8f345:not(:empty, .searchResultsWrap_c2b47d *),
.automodMessage_d5deea
  .container_b558d0
  > :not(.reactions_ec6b19, .searchResultsWrap_c2b47d *) {
  background: color-mix(in srgb, var(--chat-bubble-automod) 25%, transparent);
  border-radius: 8px;
  border: calc(1px * var(--enable-chat-bubble-border)) solid
    var(--chat-bubble-automod);

  &:hover {
    background: color-mix(in srgb, var(--chat-bubble-automod) 50%, transparent);
  }
}

/* ChannelSelection */

/* [[ CHANNEL LIST ]] */
:is(.containerDefault_f6f816.selected_f6f816, .modeUnreadImportant_d8bfb3)
  .icon_d8bfb3,
.selected_d808b0 .layout_d808b0,
.channel_c91bad.container-32HW5s > .interactiveSelected_c91bad,
.navButtonActive_af5dbb {
  background: color-mix(in srgb, var(--brand-500) 50%, transparent);
}

.icon_d8bfb3 {
  width: 15px;
  height: 15px;
  margin: 2px 2px 0 0;
  border-radius: 4px;
  padding: 3px;
}

:is(.containerDefault_f6f816.selected_f6f816, .modeUnreadImportant_d8bfb3)
  .icon_d8bfb3 {
  color: var(--interactive-active);
}

.containerDefault_f6f816:hover .icon_d8bfb3 {
  color: var(--interactive-active);
  background: color-mix(in srgb, var(--brand-500) 50%, transparent);
}

[class*="unread_"] {
  display: none;
}

/* MessageSection */

/* [[ CHAT AREA ]] */
.form_a7d72e {
  margin-top: 0;
  padding: 0;

  /* Align chat box to bottom */
  & > .channelTextAreaContainer_d0696b {
    margin-bottom: 0px;

    & > .channelTextArea_a7d72e {
      margin-bottom: 0px;

      & > .scrollableContainer_d0696b {
        margin: 0 8px 8px 8px;
      }
    }

    /* center chatbox contents, no border radius */
    & > * {
      min-height: 49px;
      border-radius: 0;
      padding-top: 4px;
    }

    & > .content_faf5ab > img {
      margin-bottom: 8px;
    }
  }

  /* Slowmode/typing indicators */
  & > :last-child[class^="typing"] {
    top: -32px;
    right: 24px;
    padding: 0px 16px 0px 8px;
    margin-left: auto;
    width: fit-content;
    border-radius: 4px;
    background: var(--background-tertiary);
  }

  & .buttons_d0696b {
    overflow: hidden;
    position: relative;
    justify-content: flex-end;
    transition: all 350ms;
    margin-right: 4px;

    &::before {
      opacity: 0%;
      transition: opacity 150ms;
      position: absolute;
      bottom: 4px;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect width='352' height='42' x='80' y='96' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='240' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='384' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3C/svg%3E");
      display: block;
      width: 32px;
    }

    &:hover {
      transition: all 150ms;
      width: 50%;

      & > :is(button, div) {
        transform: scaleX(100%) !important;
        transition: opacity 300ms;
        opacity: 100%;
      }
    }

    & > :is(button, div) {
      display: flex;
      justify-content: center;
      transform: scaleX(0%) !important;
      opacity: 0%;

      & svg {
        border-radius: 4px;
      }

      &:hover svg {
        color: var(--interactive-hover);
      }
    }

    &:where(:not(:hover)) {
      max-width: 32px;
    }

    &:where(:not(:hover))::before {
      opacity: 100%;
      transition: opacity 1000ms;
    }
  }
}

.separator_a06035 {
  grid-column: 4;
  margin-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;

  & .innerButton_a06035 {
    padding: 0;
    margin: 0;
  }
}

.channelTextArea_a7d72e .divider_c2654d {
  border-top: none;
}

.channelAttachmentArea_e8c527 {
  background: var(--background-tertiary);
  margin: 4px 8px;
  padding: 8px;
  gap: 8px;
  border-radius: 8px;
  width: fit-content;
}

.upload_df1eaf {
  min-height: 150px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;
}

.actionBar_df1eaf {
  transform: translate(0, -16px);

  & .button_f7e168 {
    background: var(--background-tertiary);
  }
}

/* jump to present */
.jumpToPresentBar_cf58b5 {
  padding: 0;
  left: 0;
  border-radius: 4px;
  margin: 8px;
  width: fit-content !important;
  background: var(--background-tertiary);
  right: unset;

  &:active {
    margin-bottom: 8px;
  }

  & > .barButtonMain_cf58b5 {
    flex: 0 0 auto;
  }

  &:hover .barButtonMain_cf58b5 {
    animation: vertiscroll 0.5s linear forwards;
    display: block;
    height: auto;
    overflow: visible;
    white-space: normal;
  }
}

.attachedBars_d0696b {
  min-height: unset !important;
  position: relative;
  margin: 0px 24px 4px 4px;
  padding: 4px 0;
  border-radius: 4px !important;
  background: var(--background-tertiary);
}

.replyBar_b11c5e {
  background: var(--background-tertiary);
}

/* Positions both the *new messages* and *viewing old messages* bars on top of the channel text area. */
.barBase_cf58b5 {
  --bar-height: 24px;
  --bar-edges: 24px;
}

.messagesWrapper_e2e187:has(.newMessagesBar_cf58b5):has(
    .jumpToPresentBar_cf58b5
  )
  .barBase_cf58b5 {
  align-items: flex-start;
  height: var(--bar-height);
  overflow: hidden;
  width: calc(50% - var(--bar-edges));
}

.messagesWrapper_e2e187:has(.jumpToPresentBar_cf58b5) .newMessagesBar_cf58b5 {
  left: auto;
}

.base_d7ebeb .typingDots_d7ebeb svg {
  margin-right: 4px;
}

.newMessagesBar_cf58b5 {
  height: 24px;
  margin-bottom: 8px;
  margin-left: calc(var(--bar-edges) * -1 + 8px);
  border-radius: 4px;
  inset: auto var(--bar-edges) 0;
  background: var(--background-tertiary);

  &:hover .span_cf58b5 {
    animation: vertiscroll 0.5s linear forwards;
    display: block;
    height: auto;
    overflow: visible;
    white-space: normal;
  }
}

@keyframes vertiscroll {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(calc(-100% + var(--bar-height)));
  }
}

.themedBackground_d0696b {
  background: var(--background-primary);
}

/* MessegaType (EN) */

/* Removes the edited sign */
.edited_f9f2ca {
  font-size: 0;
}

.contents_f9f2ca .username_f9f2ca::after {
  content: " wrote:";
}

.message_d5deea:has(.edited_f9f2ca) .contents_f9f2ca .username_f9f2ca::after {
  content: " wrote and edited:";
}

.message_d5deea:has(.mediaAttachmentsContainer__242e2, .embed_b0068a)
  .contents_f9f2ca
  .username_f9f2ca::after {
  content: " sent attachment(s):";
}

.message_d5deea:has(.stickerAsset_cb3343)
  .contents_f9f2ca
  .username_f9f2ca::after {
  content: " sent a sticker:";
}

.message_d5deea:has(.emoji.jumboable) .contents_f9f2ca .username_f9f2ca::after {
  content: " sent emoji(s):";
}

.hasReply_f9f2ca .contents_f9f2ca .username_f9f2ca::after {
  content: " replied:";
}

.message_d5deea.hasReply_f9f2ca:has(.edited_f9f2ca)
  .contents_f9f2ca
  .username_f9f2ca::after {
  content: " replied and edited:";
}

.mentioned_d5deea .contents_f9f2ca .username_f9f2ca::after {
  content: " mentioned:";
}

.mentioned_d5deea:has(.edited_f9f2ca) .contents_f9f2ca .username_f9f2ca::after {
  content: " mentioned and edited:";
}

/* Add color to extra elements */
.username_f9f2ca::after {
  color: var(--text-muted);
}

/* TimestampsBubbles */

:root {
  --enable-border: 0;
}

/* Timestamps */
@font-face {
  font-family: "Blank Dot";
  src: url("https://raw.githubusercontent.com/adobe-fonts/adobe-blank/master/AdobeBlank.ttf.woff");
  unicode-range: U+2022;
}

[class*="timestampInline_"],
.vc-reply-timestamp {
  font-family: "Blank Dot", var(--font-primary);
  position: relative;
  color: var(--primary-100) !important;
  letter-spacing: 0.05em;
  font-size: 10px !important;
  margin: 0 4px;
  height: 16px;
  border-radius: 4px;
  top: -2px;
  max-width: fit-content;
  line-height: 1rem !important;

  &:not(:has(time)) {
    background: var(--brand-600);
    padding: 0 4px 0 2px;
    border: calc(1px * var(--enable-border)) solid var(--brand-300);
  }

  &:has(time) {
    background: var(--brand-600);
    padding: 0 4px;
    border: calc(1px * var(--enable-border)) solid var(--brand-300);
  }
}

/* Align timestamps in replies */
.vc-reply-timestamp {
  text-align: center;
  margin-right: 8px;
  margin-left: 0;
  top: 0;
}

.contents_f9f2ca [class^="botTagCozy_"] {
  border: calc(1px * var(--enable-border)) solid var(--brand-300);
  border-radius: 6px;
  height: 16px;
  top: 2px;
}

/* UsernameBubbles */

:root {
  --enable-border: 0;
}

/* ShowMeYourName plugin */
.vc-smyn-suffix {
  color: currentColor !important;
  opacity: 0.5;

  &::before {
    content: "| @" !important;
  }

  &::after {
    content: "" !important;
  }
}

/* Username */
.cozy_f9f2ca .header_f9f2ca {
  margin-bottom: 4px;
}

/* Username */
.username_f9f2ca,
.base_d7ebeb .text_d7ebeb strong,
.name_b11c5e,
.mention.interactive,
[class^="repliedMessage_"] > .username_f9f2ca,
.member_a31c43 .username_d272d6 {
  filter: brightness(1.2);
  background: color-mix(in srgb, currentColor 20%, transparent);
  border: calc(1px * var(--enable-border)) solid;
  /*font-weight: bold;*/
  margin-right: 4px;
  padding: 0 6px;
  border-radius: 6px;
  display: inline-flex;

  &:hover {
    text-decoration: none;
    background: color-mix(in srgb, currentColor 40%, transparent);
  }
}

.username_f9f2ca::after {
  position: relative;
  margin: 0 0 0 8px;
  color: inherit;
}

/* Userpanel */

/* [[ USER PANEL ]] */
[class^="nameTag_"][class*="canCopy_"] {
  margin-left: 5px;
}

.container_b2ca13 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 0px;
  padding: 0;
  margin: 0;
  background: transparent !important;

  & > .avatarWrapper_b2ca13 {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    margin: 0;
    box-sizing: border-box;
    border-radius: unset;
  }

  & button {
    background: transparent;
    height: 40px;
    width: 100%;
    border-radius: unset;
    box-sizing: border-box;

    &:hover {
      background: var(--brand-700) !important;
    }
  }

  & .flex_dc333f {
    width: 100%;
    justify-content: center;
    gap: 0px;
  }

  & .button_dd4f85:hover .contents_dd4f85 {
    color: var(--interactive-hover);
  }
}

[class^="actionButtons_"] {
  display: flexbox;
  order: -1;
  box-sizing: border-box;
  gap: 0;
  padding-top: 0;

  & [class^="button_"][class*="buttonColor_"] {
    height: 40px;
    background: transparent;

    &:hover {
      background: var(--brand-700) !important;
    }
  }
}

.panels_a4d4d9 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  margin: 8px;
  border-radius: 8px;
  position: relative;
  transition: background 250ms ease-in-out;
}

body:has(.vc-spotify-pause) .panels_a4d4d9 {
  background: color-mix(
    in srgb,
    var(--brand-500) 25%,
    rgba(0, 0, 0, 0.25)
  ) !important;
}

/* [[ SPOTIFY CONTROLS ]] */
#vc-spotify-player {
  background: transparent !important;
  border-bottom: none;
  padding: 14px 12px;

  & [class*="bar_"] {
    background: var(--background-modifier-accent);
    height: 4px;
  }

  & [class*="barFill"] {
    background: var(--brand-500);
  }

  & :is(.vc-spotify-shuffle-off, .vc-spotify-repeat-off) {
    color: var(--brand-300) !important;
  }

  & .vc-spotify-button.vc-spotify-button {
    color: var(--brand-500);
    background: color-mix(in srgb, var(--brand-500) 25%, transparent);
    margin: 0 4px;
    scale: 0.85;

    &:hover {
      background: color-mix(in srgb, var(--brand-500) 50%, transparent);
      color: var(--brand-300);
    }
  }

  & .vc-spotify-button-row {
    margin-top: 15px;
  }

  & :is(.vc-spotify-time-right, .vc-spotify-time-left) {
    margin-top: 1px;
    font-weight: 600;
    letter-spacing: 0.05em;
  }

  &
    :is(
      .vc-spotify-comma,
      .vc-spotify-ellipoverflow,
      .vc-spotify-artist,
      .vc-spotify-album
    ) {
    margin-top: -2px;
    font-weight: 600;
  }

  & #vc-spotify-album-image {
    margin-top: -4px;
    border-radius: 8px;
  }

  & #vc-spotify-titles {
    margin-left: 0;
    padding-left: 0;
    flex: 1 auto;
  }
}

#vc-spotify-song-title {
  font-weight: 800;
}

#vc-spotify-info-wrapper {
  flex-direction: row-reverse;
}

/* ToolbarHider */

/* [[ TOOLBAR HIDE ]] */
.toolbar_fc4f04 {
  overflow: hidden;
  justify-content: flex-end;
  transition: all 350ms;

  &::before {
    opacity: 0%;
    transition: opacity 150ms;
    position: absolute;
    bottom: 4px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect width='352' height='42' x='80' y='96' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='240' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='384' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3C/svg%3E");
    display: block;
    width: 32px;
  }

  &:hover {
    transition: all 150ms;

    & > div {
      transform: scaleX(100%) !important;
      transition: opacity 300ms;
      opacity: 100%;
    }
  }

  & > div {
    display: flex;
    justify-content: center;
    transform: scaleX(0%) !important;
    opacity: 0%;

    & svg {
      transition: all 0.3s ease-in-out;
    }
  }

  &:where(:not(:hover)) {
    max-width: 32px;
  }

  &:where(:not(:hover))::before {
    opacity: 100%;
    transition: opacity 1000ms;
  }
}
